@import "./vars.css";

.App {
  background-color: var(--color-bg);
  width: 100%;
  min-height: 100vh;     /* full screen height properly */
  overflow-x: hidden;    /* prevents horizontal scroll only */
}